.shows-catalogue{
    display: inline-block;
    justify-content: center;
    margin-top: 120px;
    margin-left: 250px;
    margin-bottom: 150px;
    position: relative;
    .loading-icon{
        display: flex;
        position: absolute;
        left: 50%;
    }
}