.search-box-container{
    height: 30px;
    width: 400px;
    border-radius: 1rem;
    border: 0px;
    padding: 2px 15px;
    background-color: #383838;
    font-size: 13px;
    color: rgb(203, 203, 203);
}